extends layout

block content
        .row
          img.contact-banner(alt='Oakfield Health', src='../our-team-banner.jpg')
          a.buttonback(href="../staff") Back to Staff
          br
          br
          br
          br
          .staff-row
            .grid-container
              each staffmember in specpage
                h1 #{staffmember.name} 
                img.staffimage(src='../#{staffmember.image}', alt='Oakfield Health')
                p.staffp ID: #{staffmember.id}
                p.staffp Field of speciality: #{staffmember.speciality}
                p.staffp University: #{staffmember.university}
                p.staffp Years practised: #{staffmember.yearspractised}
                